services:
  app:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: task_user
      POSTGRES_PASSWORD: strongpassword
      POSTGRES_DB: tasks_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
